doctype html
html(ng-app="smartChat")
  head
    meta(charset='utf8')
    base(href='/')
    title Smart Chat
    link(rel='stylesheet', href='/css/app.css')
  body
    section.title
      h2 SmartChat Ask away
      h4 If your asking a question use q: | Q:
      h4 If your answering use a: | A: 
    div(ng-controller='AppCtrl')
      .user-col
        h3 Users
        .overflowable
          p(ng-repeat='user in users') {{user}}

      .message-col
        h3 Messages
        .overflowable
          p(ng-repeat='message in messages') {{message.user}}: {{message.text}}

      .clr
        form(ng-submit='sendMessage()')
          | Message: 
          input(size='60', ng-model='message')
          input(type='submit', value='Send')      

    script(src='js/lib/angular.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
